{% extends 'cars/base.html' %}
{% block content %}
    <section class="conditions-section">
        <h1><i class="fas fa-file-alt"></i> Условия аренды</h1>
        <div class="conditions-content">
            <div class="requirements">
                <h2>Требования к водителю</h2>
                <ul>
                    <li><i class="fas fa-check"></i> Водительский стаж — от 3 лет</li>
                    <li><i class="fas fa-check"></i> Возраст водителя — от 24 лет</li>
                    <li><i class="fas fa-check"></i> Гражданство — Россия, Беларусь, Казахстан, Кыргызстан</li>
                    <li><i class="fas fa-check"></i> Наличие КИС АРТ, справка об отсутствии судимости</li>
                </ul>
            </div>
            <div class="advantages">
                <h2>Почему стоит арендовать авто именно у нас?</h2>
                <ul>
                    <li><i class="fas fa-check-circle"></i> Моментальные выплаты без ограничений 24/7</li>
                    <li><i class="fas fa-check-circle"></i> Обслуживание, замена резины, ТО и страховка за наш счёт (ОСГОП и ОСАГО на весь период заключения договора аренды)</li>
                    <li><i class="fas fa-check-circle"></i> День выдачи автомобиля бесплатный</li>
                    <li><i class="fas fa-check-circle"></i> Все автомобили имеют лицензию и полную документацию</li>
                    <li><i class="fas fa-check-circle"></i> Круглосуточная техническая поддержка 24/7</li>
                    <li><i class="fas fa-check-circle"></i> Выкупы на авто без первоначального взноса по индивидуальному договору</li>
                    <li><i class="fas fa-check-circle"></i> Доступна история списания штрафов без комиссий</li>
                    <li><i class="fas fa-check-circle"></i> Удобное списание оплаты за аренду в 23:00</li>
                    <li><i class="fas fa-check-circle"></i> Подключение к агрегаторам и таксопаркам</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}